body {
    text-align: center;
    font-family: sans-serif;
    background-image: url("/pictures/colors3.png");
    background-repeat: repeat-x;
    background-size:contain;
}

#header {
    
}

#left-menu {
    width: 10%;
    border: 1px solid black;
    list-style-type: none;
}
#footer {
    clear: both;
}
a:link {
    text-decoration: underline;
    color: #141414;
}